#event_page div.article {
  font-family: georgia;
  /*text-align: center;*/
  /*font-style: italic;*/

  box-sizing: content-box;
  max-width: 75%;
  margin-top: 2em;
  border:1px solid black;
  word-wrap: break-word;
  white-space: normal;
  /* padding: 20px;*/
  padding: 1%;
}

#event_page strong {
background-color: blue;

}
#event_page strong:hover {
    background-color: red;
    /* ouvrir une fenêtre à part, en passant la fenêtre en visible ? */
}

#event_page .event {
  display: inline;
  border-bottom: 1px dotted black;
  /* color of the span text */
  color: rgb(119, 162, 241);
}

#event_page .absolute {
  position: absolute;
  top: 8.5em;
  left: 79%;
  width: 20%;
  border: 1px solid blue;
}

