body {
  background-color: rgb(255, 255, 255);
    }

header {
  text-align: center;
  border: None;
  background-image: url("Logo_telecom.png"),url("Logo_airbus.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  background-color: white, white;
  background-size: contain, contain;
  height : 100px;
  width : 100%
  }


  
  #event_page .article {
  font-family: verdana;
  /*text-align: center;*/
  /*font-style: italic;*/
  font-color: #636363;
  box-sizing: content-box;
  max-width: 75%;
  margin-top: 2em;
  border:1px solid black;
  word-wrap: break-word;
  white-space: normal;
  /* padding: 20px;*/
  padding: 1%;
  line-height: 2.5em;

  max-height: 100em;
  overflow: scroll;
}

#event_page mark {
    background-color: #9ecae1;
    color: #333;

    padding: 0.45em 0.6em;
    margin: 0 0.25em;
    line-height: 1;
    border-radius: 0.35em;


}

#event_page mark:hover {
    background-color: #2b8cbe;
    /*background-color: #0D6EFD;*/
    color: #ddd;
    background: {bg};
    padding: 0.45em 0.6em;
    margin: 0 0.25em;
    line-height: 1;
    border-radius: 0.35em;
    /* ouvrir une fenêtre à part, en passant la fenêtre en visible ? */

}

#event_page .event {
  display: inline;
  border-bottom: 1px dotted black;
  /* color of the span text */
  /*color: #DDDDDD;*/
  /*rgb(119, 162, 241);*/
}

#event_page .absolute {
  position: absolute;
  top: 8.5em;
  left: 79%;
  width: 20%;
  border: 1px solid blue;
}

