{% extends 'layout.html' %}

{% block body %}
  <div id="event_page" >
    <h1>Event Extractions</h1>

    <div>
      Nombre d'événements : {{ events_list|length }}
    </div>
    <div class="article" data-article-id="{{ article_id }}">
      {% set ns = namespace(current_index=0) %}
      {% set iterations_nb = events_list|length %}
      {% for i in range(iterations_nb) %}
        
        {% set next_event = events_list.pop(0) %}

        {{ article[ns.current_index:next_event[0]].replace("\n", "\n<br/>")|safe }}

        <mark class="event" data-start-idx="{{ next_event[0] }}" data-end-idx="{{ next_event[1] }}" data-event="{{ next_event[2] }}">
          {{ article[next_event[0]:next_event[1]].replace("\n", "\n<br/>")|safe }}
        </mark>

        {% set ns.current_index = next_event[1] %}
      {% endfor %}

      {{ article[ns.current_index:article_len].replace("\n", "\n<br/>")|safe }}

    </div>
    <div id="event-container" class="absolute">
      <div><strong>Who:&nbsp;</strong><span id='who'></span></div>
      <div><strong>What:&nbsp;</strong><span id='what'> </span></div>
      <div><strong>Where:&nbsp;</strong><span id='where'> </span></div>
      <div><strong>When:&nbsp;</strong><span id='when'> </span></div>

      <button type="button" class="btn btn-outline-success  btn-sm" id="event-label-good">Bonne prédiction</button>
      <button type="button" class="btn btn-outline-danger btn-sm" id="event-label-bad">Mauvaise prédiction</button>
      <button type="button" class="btn btn-outline-secondary btn-sm" value=None onclick="alert('Aucune étiquette n\'a été ajoutée pour cette prédiction')">Je ne sais pas</button>
    </div>
  </div>
{% endblock %}
