{% extends 'layout.html' %}

{% block body %}
  <div id="event_page" >
    <h1>Event Extractions</h1>

    <div>
      Nombre d'événements : {{ events_list|length }}
    </div>
    <div class="article" >
      {% set ns = namespace(current_index=0) %}
      {% set iterations_nb = events_list|length %}
      {% for i in range(iterations_nb) %}
        
        {% set next_event = events_list.pop(0) %}

        {{ article[ns.current_index:next_event[0]].replace("\n", "\n<br/>")|safe }}

        <strong class="event" data-event="{{ next_event[2] }}">
          {{ article[next_event[0]:next_event[1]].replace("\n", "\n<br/>")|safe }}
        </strong>

        {% set ns.current_index = next_event[1] %}
      {% endfor %}

      {{ article[ns.current_index:article_len].replace("\n", "\n<br/>")|safe }}

    </div>
    <div id="event-container" class="absolute">
      Who: <div id='who'> </div>
      What: <div id='what'> </div>
      Where: <div id='where'> </div>
      When: <div id='when'> </div>

      <button type="button" class="btn btn-outline-success  btn-sm" value=1 onclick="alert('L\'étiquette 1 a été ajoutée pour cette prédiction')">Bonne prédiction</button>
      <button type="button" class="btn btn-outline-danger btn-sm" value=0 onclick="alert('L\'étiquette 0 a été ajoutée pour cette prédiction')">Mauvaise prédiction</button>
      <button type="button" class="btn btn-outline-secondary btn-sm" value=None onclick="alert('Aucune étiquette n\'a été ajoutée pour cette prédiction')">Je ne sais pas</button>
    </div>
  </div>
{% endblock %}
