/* Le CSS va ici */


p {
  font-family: georgia;
  /*text-align: center;*/
  /*font-style: italic;*/

  box-sizing: content-box;
  max-width: 25em;
  margin-top: 2em;
  border:1px solid black;
  word-wrap: break-word;
  white-space: normal;
}

strong {
background-color: blue;

}

strong:hover {
    background-color: red;
    /* ouvrir une fenêtre à part, en passant la fenêtre en visible ? */
}

button{ text-align: center; }
